body{
    font-family: 'Roboto', sans-serif!important;
}
a{
    color: inherit;
}
a:hover{
    text-decoration: none;
}
p{
    margin-bottom: 5px;
}
.has-search .form-control {
    padding-left: 2.375rem;
}
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.card{
    cursor: pointer;
    border: none;
}

.fa-check-square{
    color: #F06C4E;
}
.fa-eye-slash{
    font-size: 2rem;
}